.simple-events-event-information,
.simple-events-event-information input {
  max-width: 200px;
  width: 100%;
}

.simple-events-event-information .components-base-control__help {
  margin-bottom: 0;
}
